body {
    background-color: #fefae0; 
}

.head {
    margin-top: 30px;
    text-align: center;
    font-family: Verdana;
    margin-bottom: 10px;
    background-color: #fefae0;
}

p {
    color:#bc6c25;
    text-align:center
}

.link-text {
    text-decoration: none;
    color:#606c38;
    text-align: center;
     
}

.link-text:hover {
    color:#dda15e
}

.list-text {
    text-align: center;
    font-family:'Gill Sans';
}

.git-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #606c38;
    background-color: #fefae0;
}

.contact-back {
    background-color: #fefae0;
}

.image-mic {
    display: block;
    margin-left: auto;
    margin-right: 100px;
    width: 200px;
    height: auto;
}

.frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-radius: 15px;
    box-shadow: 5px 7px;
}

.image-pos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family:Georgia;
    color:#283618;
    text-align: center;
}

h2 {
    font-family: Arial;
    color:#283618; 
    font-size: medium;
    text-align: center;
}

.memory-pic {
    width: 200px;
    height: 300px;
    box-shadow: #bc6c25 3px 5px;
}

.slider-pic {
    width: 200px;
    height: 200px;
    box-shadow: #bc6c25 3px 5px;
}

.quiz-pic {
    width: 200px;
    height: 200px;
    box-shadow: #bc6c25 3px 5px;
}

footer {
    font-family: 'Courier New'; 
    font-size: small;
    text-align: center;
    color: #dda15e;
    margin-bottom: 10px;
}

.foot {
    text-decoration: none;
    color: #606c38;
}

.poem {
    color: #dda15e;
    text-align: center;

}

